Repository rrittwag/lunchbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend-web-vue, build_backend-spring-kotlin

build_frontend-web-vue:
  stage: build
  trigger:
    include: frontend-web-vue/.gitlab-ci.yml
    strategy: depend

build_backend-spring-kotlin:
  stage: build
  trigger:
    include: backend-spring-kotlin/.gitlab-ci.yml
    strategy: depend

chore: Pipeline greift auf existierende Ordner zu
  .gitlab-ci.yml
  backend-spring-kotlin/.gitlab-ci.yml
  frontend-web-vue/.gitlab-ci.yml
Due: build_frontend-web-vue, build_backend-spring-kotlin

chore: Pipeline-Stage sprechender benannt
  backend-spring-kotlin/.gitlab-ci.yml
  frontend-web-vue/.gitlab-ci.yml
Due: build_frontend-web-vue, build_backend-spring-kotlin

chore: upgrade Vue CLI
  frontend-web-vue/package.json
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore: Pipeline verbessert
  app/.gitlab-ci.yml
  backend-spring-kotlin/.gitlab-ci.yml
  frontend-web-vue/.gitlab-ci.yml
Due: build_frontend-web-vue, build_backend-spring-kotlin

chore: a string is a string
  app/docker-compose.yml
Due: none

chore: Konstanten nutzen
  frontend-web-vue/src/views/offers/dayselector/DaySelectorButton.vue
Due: build_frontend-web-vue

chore: Vorschlag für Komponenten
  frontend-web-vue/README.md
Due: build_frontend-web-vue

chore: upgrade vue-router
  frontend-web-vue/package.json
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

refactor: Nav-Komponente ausgelagert
  frontend-web-vue/src/views/layout/Header.vue
  frontend-web-vue/src/views/layout/header/Nav.vue
Due: build_frontend-web-vue

chore(backend): upgrade dependencies
  backend-spring-kotlin/build.gradle
  backend-spring-kotlin/gradle/dependencies.gradle
  backend-spring-kotlin/gradle/test.gradle
Due: build_backend-spring-kotlin

chore(Frontend): Unit-Tests auf Vue 3 umgestellt
  frontend-web-vue/README.md
  frontend-web-vue/src/views/Settings.vue
  frontend-web-vue/src/views/layout/Content.vue
  frontend-web-vue/src/views/layout/Header.vue
  frontend-web-vue/src/views/layout/header/NavLink.vue
  frontend-web-vue/src/views/offers/Badge.vue
  frontend-web-vue/src/views/offers/Offer.vue
  frontend-web-vue/src/views/offers/dayselector/DaySelectorButton.vue
  frontend-web-vue/tests/jest.vue-svg-loader.js
  frontend-web-vue/tests/unit/test-data.ts
  frontend-web-vue/tests/unit/test-util.ts
  frontend-web-vue/tests/unit/views/About.vue.spec.ts
  frontend-web-vue/tests/unit/views/Layout.vue.spec.ts
  frontend-web-vue/tests/unit/views/Settings.vue.spec.ts
  frontend-web-vue/tests/unit/views/__snapshots__/About.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/__snapshots__/Layout.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/__snapshots__/Settings.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/Content.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/Header.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/LocationSelector.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/__snapshots__/Content.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/__snapshots__/Header.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/content/ContentError.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/content/ContentLoading.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/header/Nav.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/header/NavLink.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/header/__snapshots__/Nav.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/header/__snapshots__/NavLink.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/DaySelector.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/Offer.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/OfferBox.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/__snapshots__/DaySelector.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/__snapshots__/Offer.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/__snapshots__/OfferBox.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/dayselector/DaySelectorButton.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/dayselector/__snapshots__/DaySelectorButton.vue.spec.ts.snap
Due: build_frontend-web-vue

upgrade to Tailwind CSS v2
  frontend-web-vue/package.json
  frontend-web-vue/tailwind.config.js
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

aktuelle PostCSS-Version benötigt Node 14
  frontend-web-vue/.gitlab-ci.yml
Due: build_frontend-web-vue

chore(frontend): Upgrade auf Tailwind v2
  frontend-web-vue/src/views/Settings.vue
  frontend-web-vue/src/views/offers/Offer.vue
Due: build_frontend-web-vue

chore(frontend): upgrade some dependencies
  frontend-web-vue/package.json
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore(frontend): Upgrade auf Tailwind v2
  frontend-web-vue/tests/unit/views/__snapshots__/Settings.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/__snapshots__/Offer.vue.spec.ts.snap
Due: build_frontend-web-vue

chore(Frontend): added typing
  frontend-web-vue/tests/unit/test-data.ts
Due: build_frontend-web-vue

fix(Frontend): PWA-Plugin + Vue 3 liefern leere Seite
  frontend-web-vue/package.json
  frontend-web-vue/src/main.ts
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

fix(frontend): Aktivieren der JavaScript-Komprimierung verbessert Performance
  frontend-web-vue/nginx/nginx.conf
Due: build_frontend-web-vue

fix(performance): compression activated
  backend-spring-kotlin/src/main/resources/application.yml
  frontend-web-vue/nginx/nginx.conf
Due: build_frontend-web-vue, build_backend-spring-kotlin

chore(backend): Beispiel für ConfigurationProperties
  backend-spring-kotlin/src/main/kotlin/lunchbox/_app/ConfigProperties.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/util/facebook/FacebookGraphApiImpl.kt
Due: build_backend-spring-kotlin

refactor: Store sortiert
  frontend-web-vue/src/store/lunch.ts
Due: build_frontend-web-vue

refactor: Typings verbessert
  frontend-web-vue/src/store/lunch.ts
  frontend-web-vue/src/store/theme.ts
Due: build_frontend-web-vue

refactor: async/await ist verständlicher als Promise.then
  frontend-web-vue/src/api/http.ts
Due: build_frontend-web-vue

chore: Version doppelt pflegen ist doof
  backend-spring-kotlin/gradle/lint.gradle
Due: build_backend-spring-kotlin

refactor: computed values statt Funktionen
  anforderungen.md
  backend-spring-kotlin/src/test/resources/menus/phoenixeum/2020-12-21.html
  backend-spring-kotlin/src/test/resources/menus/suppenkulttour/2020-12-21.html
  frontend-web-vue/src/views/Offers.vue
Due: build_frontend-web-vue, build_backend-spring-kotlin

fix: Unit-Tests sind nun jahresunabhängig
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverPhoenixeum.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverSuppenkulttour.kt
Due: build_backend-spring-kotlin

refactor: Zusammengehöriges näher zusammengerückt
  frontend-web-vue/src/views/offers/DaySelector.vue
Due: build_frontend-web-vue

chore: reset to Vue CLI standard import @/
  frontend-web-vue/jest.config.js
  frontend-web-vue/src/App.vue
  frontend-web-vue/src/api/LunchApi.ts
  frontend-web-vue/src/main.ts
  frontend-web-vue/src/router.ts
  frontend-web-vue/src/store/lunch.ts
  frontend-web-vue/src/views/Layout.vue
  frontend-web-vue/src/views/Offers.vue
  frontend-web-vue/src/views/Settings.vue
  frontend-web-vue/src/views/layout/Header.vue
  frontend-web-vue/src/views/offers/DaySelector.vue
  frontend-web-vue/src/views/offers/Offer.vue
  frontend-web-vue/src/views/offers/OfferBox.vue
  frontend-web-vue/src/views/offers/OfferBoxGroup.vue
  frontend-web-vue/src/views/offers/dayselector/DaySelectorButton.vue
  frontend-web-vue/tests/unit/test-data.ts
  frontend-web-vue/tests/unit/util/formatting.spec.ts
  frontend-web-vue/tests/unit/views/About.vue.spec.ts
  frontend-web-vue/tests/unit/views/Layout.vue.spec.ts
  frontend-web-vue/tests/unit/views/Settings.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/Content.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/Header.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/LocationSelector.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/content/ContentError.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/content/ContentLoading.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/header/Nav.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/header/NavLink.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/DaySelector.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/Offer.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/OfferBox.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/dayselector/DaySelectorButton.vue.spec.ts
  frontend-web-vue/tsconfig.json
  frontend-web-vue/vue.config.js
Due: build_frontend-web-vue

chore: upgrade dependencies
  frontend-web-vue/package.json
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore: reset to Vue CLI standard import @/
  frontend-web-vue/jest.config.js
  frontend-web-vue/tests/unit/views/Settings.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/Offer.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/OfferBox.vue.spec.ts
  frontend-web-vue/tsconfig.json
Due: build_frontend-web-vue

chore: Angabe von text/html ist unnötig und sorgt für Warnungen
  frontend-web-vue/nginx/nginx.conf
Due: build_frontend-web-vue

chore: Unnütze Beispiele entfernt
  backend-spring-kotlin/src/test/resources/menus/phoenixeum/2020-12-21.html
  backend-spring-kotlin/src/test/resources/menus/suppenkulttour/2020-12-21.html
Due: build_backend-spring-kotlin

chore: upgrade dependencies
  backend-spring-kotlin/build.gradle
  backend-spring-kotlin/gradle/dependencies.gradle
  backend-spring-kotlin/gradle/lint/detekt_config.yml
  backend-spring-kotlin/gradle/test.gradle
  backend-spring-kotlin/gradle/wrapper/gradle-wrapper.properties
Due: build_backend-spring-kotlin

chore: added TODOs
  frontend-web-vue/README.md
Due: build_frontend-web-vue

chore: upgrade to Gradle 7 & Spring Boot 2.5
  backend-spring-kotlin/build.gradle
  backend-spring-kotlin/gradle/dependencies.gradle
  backend-spring-kotlin/gradle/lint/detekt_config.yml
  backend-spring-kotlin/gradle/test.gradle
  backend-spring-kotlin/gradle/wrapper/gradle-wrapper.properties
Due: build_backend-spring-kotlin

chore(pipeline): Snapshot-Tests von Default-Locale en_US auf de_DE zwingen
  frontend-web-vue/package.json
  frontend-web-vue/tests/unit/views/layout/header/NavLink.vue.spec.ts
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

Path conditions:
  build_frontend-web-vue: any of: frontend-web-vue/**/*
  build_backend-spring-kotlin: any of: backend-spring-kotlin/**/*
