Repository rrittwag/lunchbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend-web-vue, build_backend-spring-kotlin

build_frontend-web-vue:
  stage: build
  trigger:
    include: frontend-web-vue/.gitlab-ci.yml
    strategy: depend

build_backend-spring-kotlin:
  stage: build
  trigger:
    include: backend-spring-kotlin/.gitlab-ci.yml
    strategy: depend

chore(pipeline): Snapshot-Tests von Default-Locale en_US auf de_DE zwingen
  frontend-web-vue/package.json
Due: build_frontend-web-vue

fix: unnützes div entfernt
  frontend-web-vue/index.html
  frontend-web-vue/src/App.vue
Due: build_frontend-web-vue

chore: Store auf Pinia umgestellt
  frontend-web-vue/src/App.vue
  frontend-web-vue/src/main.ts
  frontend-web-vue/src/store/lunch.ts
  frontend-web-vue/src/store/theme.ts
  frontend-web-vue/src/views/Offers.vue
  frontend-web-vue/src/views/Settings.vue
  frontend-web-vue/src/views/offers/OfferBoxGroup.vue
  frontend-web-vue/tests/unit/test-data.ts
  frontend-web-vue/tests/unit/views/Settings.vue.spec.ts
  frontend-web-vue/tests/unit/views/__snapshots__/Settings.vue.spec.ts.snap
Due: build_frontend-web-vue

chore: Fonts vorab laden
  frontend-web-vue/index.html
Due: build_frontend-web-vue

chore: Fonts werden bereits in der index.html geladen
  frontend-web-vue/src/assets/style/fonts.scss
  frontend-web-vue/src/assets/style/index.scss
Due: build_frontend-web-vue

chore: Config verbessert
  frontend-web-vue/vite.config.js
Due: build_frontend-web-vue

feat: PWA aktiviert
  frontend-web-vue/package.json
  frontend-web-vue/public/android-chrome-192x192.png
  frontend-web-vue/public/android-chrome-512x512.png
  frontend-web-vue/public/apple-touch-icon-120x120.png
  frontend-web-vue/public/apple-touch-icon-152x152.png
  frontend-web-vue/public/apple-touch-icon-180x180.png
  frontend-web-vue/public/apple-touch-icon-60x60.png
  frontend-web-vue/public/apple-touch-icon-76x76.png
  frontend-web-vue/public/apple-touch-icon.png
  frontend-web-vue/public/favicon-16x16.png
  frontend-web-vue/public/favicon-32x32.png
  frontend-web-vue/public/msapplication-icon-144x144.png
  frontend-web-vue/public/mstile-150x150.png
  frontend-web-vue/public/safari-pinned-tab.svg
  frontend-web-vue/src/main.ts
  frontend-web-vue/vite.config.js
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore: upgrading babel dependencies
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

fix(PWA): PWA-Fähigkeit verbessert
  frontend-web-vue/index.html
  frontend-web-vue/vite.config.js
Due: build_frontend-web-vue

fix(PWA): PWA-Fähigkeit verbessert
  frontend-web-vue/index.html
  frontend-web-vue/public/favicon.svg
  frontend-web-vue/vite.config.js
Due: build_frontend-web-vue

fix(PWA): PWA aktiviert
  frontend-web-vue/src/main.ts
  frontend-web-vue/src/pwa.ts
Due: build_frontend-web-vue

fix(PWA): PWA aktiviert
  frontend-web-vue/src/main.ts
Due: build_frontend-web-vue

chore(tailwind): JIT erstellt Varianten automatisch
  frontend-web-vue/tailwind.config.js
Due: build_frontend-web-vue

chore: null-Abfrage ergänzt
  frontend-web-vue/src/store/theme.ts
Due: build_frontend-web-vue

chore: Attribute umsortiert
  frontend-web-vue/index.html
Due: build_frontend-web-vue

chore(gradle): Root-File vereinfacht
  backend-spring-kotlin/build.gradle
Due: build_backend-spring-kotlin

chore: Zwischenstand Einstellungen
  frontend-web-vue/src/views/Settings.vue
Due: build_frontend-web-vue

chore: Zwischenstand Einstellungen
  frontend-web-vue/tests/unit/views/__snapshots__/Settings.vue.spec.ts.snap
Due: build_frontend-web-vue

chore: renamed api
  frontend-web-vue/src/api/lunch.ts
  frontend-web-vue/src/store/lunch.ts
Due: build_frontend-web-vue

chore: combined model in one file
  frontend-web-vue/src/api/lunch.ts
  frontend-web-vue/src/model/LunchLocation.ts
  frontend-web-vue/src/model/LunchOffer.ts
  frontend-web-vue/src/model/LunchProvider.ts
  frontend-web-vue/src/model/lunch.ts
  frontend-web-vue/src/store/lunch.ts
  frontend-web-vue/src/views/offers/Offer.vue
  frontend-web-vue/src/views/offers/OfferBox.vue
  frontend-web-vue/src/views/offers/OfferBoxGroup.vue
  frontend-web-vue/tests/unit/test-data.ts
Due: build_frontend-web-vue

chore: upgrade dependencies
  backend-spring-kotlin/build.gradle
  backend-spring-kotlin/gradle/dependencies.gradle
  backend-spring-kotlin/gradle/lint/detekt_config.yml
  backend-spring-kotlin/gradle/test.gradle
  backend-spring-kotlin/gradle/wrapper/gradle-wrapper.properties
Due: build_backend-spring-kotlin

chore: Compile-Fehler behoben
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverAokCafeteria.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverGesundheitszentrum.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverPhoenixeum.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverSaltNPepper.kt
Due: build_backend-spring-kotlin

chore: upgrade Node
  frontend-web-vue/.gitlab-ci.yml
Due: build_frontend-web-vue

chore: upgrade dependencies
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

fix(AOK): leicht verändertes Format + Adresse
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverAokCafeteria.kt
  backend-spring-kotlin/src/test/kotlin/lunchbox/domain/resolvers/LunchResolverAokCafeteriaTest.kt
  backend-spring-kotlin/src/test/resources/menus/aok_cafeteria/2021-11-15.html
Due: build_backend-spring-kotlin

fix: Unit-Test
  backend-spring-kotlin/src/test/kotlin/lunchbox/domain/resolvers/LunchResolverAokCafeteriaTest.kt
Due: build_backend-spring-kotlin

chore(format): max Zeichen pro Zele an Standard angepasst
  backend-spring-kotlin/.editorconfig
  backend-spring-kotlin/gradle/format.gradle
  backend-spring-kotlin/gradle/format/lunchbox.javaformat.xml
  backend-spring-kotlin/gradle/lint/detekt_config.yml
  frontend-web-vue/.editorconfig
Due: build_frontend-web-vue, build_backend-spring-kotlin

chore(frontend): upgrade vue-test-utils
  frontend-web-vue/package.json
  frontend-web-vue/tests/unit/views/__snapshots__/Layout.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/__snapshots__/Offer.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/__snapshots__/OfferBox.vue.spec.ts.snap
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore(frontend): flex-shrink ist sprechender als nowrap
  frontend-web-vue/src/views/offers/Offer.vue
  frontend-web-vue/tests/unit/views/offers/__snapshots__/Offer.vue.spec.ts.snap
Due: build_frontend-web-vue

chore(frontend): bessere emit-Definition
  frontend-web-vue/src/views/offers/DaySelector.vue
  frontend-web-vue/src/views/offers/dayselector/DaySelectorButton.vue
Due: build_frontend-web-vue

chore: upgrade to Tailwind CSS v3
  frontend-web-vue/package.json
  frontend-web-vue/src/views/About.vue
  frontend-web-vue/src/views/Layout.vue
  frontend-web-vue/src/views/Offers.vue
  frontend-web-vue/src/views/Settings.vue
  frontend-web-vue/src/views/offers/DaySelector.vue
  frontend-web-vue/src/views/offers/Offer.vue
  frontend-web-vue/src/views/offers/OfferBox.vue
  frontend-web-vue/src/views/offers/dayselector/DaySelectorButton.vue
  frontend-web-vue/tailwind.config.js
  frontend-web-vue/tests/jest.vue-svg-loader.js
  frontend-web-vue/tests/unit/views/__snapshots__/Layout.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/Content.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/__snapshots__/DaySelector.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/__snapshots__/Offer.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/dayselector/DaySelectorButton.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/dayselector/__snapshots__/DaySelectorButton.vue.spec.ts.snap
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore: upgrade dependencies
  backend-spring-kotlin/build.gradle
  backend-spring-kotlin/gradle/dependencies.gradle
  backend-spring-kotlin/gradle/lint/detekt_config.yml
  backend-spring-kotlin/gradle/wrapper/gradle-wrapper.jar
  backend-spring-kotlin/gradle/wrapper/gradle-wrapper.properties
  backend-spring-kotlin/gradlew
  backend-spring-kotlin/src/test/kotlin/lunchbox/util/json/ObjectMapperUtil.kt
Due: build_backend-spring-kotlin

chore: upgrade dependencies & improved eslint
  frontend-web-vue/.eslintrc.js
  frontend-web-vue/package.json
  frontend-web-vue/src/views/Offers.vue
  frontend-web-vue/src/views/layout/Content.vue
  frontend-web-vue/src/views/layout/header/NavLink.vue
  frontend-web-vue/src/views/offers/Badge.vue
  frontend-web-vue/src/views/offers/DaySelector.vue
  frontend-web-vue/src/views/offers/Offer.vue
  frontend-web-vue/src/views/offers/OfferBox.vue
  frontend-web-vue/src/views/offers/dayselector/DaySelectorButton.vue
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore: Unit-Tests liefern keine Warnung mehr
  frontend-web-vue/package.json
  frontend-web-vue/tests/unit/views/layout/Content.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/Header.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/__snapshots__/Content.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/__snapshots__/Header.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/header/Nav.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/header/NavLink.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/header/__snapshots__/Nav.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/header/__snapshots__/NavLink.vue.spec.ts.snap
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore: Unit-Tests verbessert
  frontend-web-vue/tests/unit/views/layout/Header.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/header/Nav.vue.spec.ts
Due: build_frontend-web-vue

chore: schlankeres Docker-Image-Setup
  app/.gitlab-ci.yml
  frontend-web-vue/.gitlab-ci.yml
Due: build_frontend-web-vue

chore: gitignore verbessert
  .gitignore
Due: none

chore: aktuelles nginx mit Brotli verwenden
  frontend-web-vue/.dockerignore
  frontend-web-vue/.gitlab-ci.yml
  frontend-web-vue/Dockerfile
  frontend-web-vue/nginx/build.sh
  frontend-web-vue/nginx/nginx.conf
Due: build_frontend-web-vue

fix(frontend): kein Pull beim Docker-Bauen nötig
  frontend-web-vue/.gitlab-ci.yml
Due: build_frontend-web-vue

Path conditions:
  build_frontend-web-vue: any of: frontend-web-vue/**/*
  build_backend-spring-kotlin: any of: backend-spring-kotlin/**/*
