Repository rrittwag/lunchbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend-web-vue, build_backend-spring-kotlin

build_frontend-web-vue:
  stage: build
  trigger:
    include: frontend-web-vue/.gitlab-ci.yml
    strategy: depend

build_backend-spring-kotlin:
  stage: build
  trigger:
    include: backend-spring-kotlin/.gitlab-ci.yml
    strategy: depend

chore: trivy hat keine Rechte für Ordner?
  frontend-web-vue/.gitlab-ci.yml
Due: build_frontend-web-vue

chore: vulnerability scan aufgeräumt
  frontend-web-vue/.gitlab-ci.yml
Due: build_frontend-web-vue

chore: Fonts in public-Ordner verschoben, um PWA-Caching zu erleichtern
  frontend-web-vue/index.html
  frontend-web-vue/public/fonts/Chewy.woff2
  frontend-web-vue/public/fonts/Inter-latin+ext-300.woff2
  frontend-web-vue/public/fonts/Inter-latin+ext-400.woff2
  frontend-web-vue/src/assets/style/fonts.scss
  frontend-web-vue/vite.config.js
Due: build_frontend-web-vue

chore: README aktualisiert
  frontend-web-vue/README.md
Due: build_frontend-web-vue

feat(offers): Mittagsangebote in LocalStorage speichern
  frontend-web-vue/README.md
  frontend-web-vue/package.json
  frontend-web-vue/src/store/lunch.ts
  frontend-web-vue/src/views/Offers.vue
  frontend-web-vue/vite.config.js
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore: upgrade dependencies
  frontend-web-vue/package.json
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore: refresh yarn.lock
  frontend-web-vue/package.json
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore(backend): upgrade dependencies
  backend-spring-kotlin/build.gradle
  backend-spring-kotlin/gradle/dependencies.gradle
  backend-spring-kotlin/gradle/wrapper/gradle-wrapper.properties
Due: build_backend-spring-kotlin

chore(frontend): upgrade dependencies
  frontend-web-vue/package.json
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

fix(Suppenkult): unnütze Info rausgefiltert
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverSuppenkulttour.kt
  backend-spring-kotlin/src/test/kotlin/lunchbox/domain/resolvers/LunchResolverSuppenkulttourTest.kt
  backend-spring-kotlin/src/test/resources/menus/suppenkulttour/2022-04-04.html
Due: build_backend-spring-kotlin

chore: formatting
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverSuppenkulttour.kt
Due: build_backend-spring-kotlin

chore: Link ergänzt
  frontend-web-vue/README.md
Due: build_frontend-web-vue

chore: upgrade dependencies
  backend-spring-kotlin/build.gradle
  backend-spring-kotlin/gradle/dependencies.gradle
  backend-spring-kotlin/gradle/format.gradle
  backend-spring-kotlin/gradle/test.gradle
  frontend-web-vue/package.json
  frontend-web-vue/src/types/router.d.ts
  frontend-web-vue/src/views/layout/Content.vue
  frontend-web-vue/src/views/layout/header/NavLink.vue
  frontend-web-vue/tests/unit/test-utils.ts
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue, build_backend-spring-kotlin

fix: AOK-Plan wird wieder ausgewertet
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverAokCafeteria.kt
  backend-spring-kotlin/src/test/kotlin/lunchbox/domain/resolvers/LunchResolverAokCafeteriaTest.kt
  backend-spring-kotlin/src/test/resources/menus/aok_cafeteria/2022-06-07.html
Due: build_backend-spring-kotlin

chore: fixed test & vulnerability
  frontend-web-vue/package.json
  frontend-web-vue/tests/unit/views/layout/__snapshots__/Header.vue.spec.ts.snap
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

fix: Link für AOK Cafeteria
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/models/LunchProvider.kt
Due: build_backend-spring-kotlin

fix(Suppenkult): unnütze Info rausgefiltert
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverSuppenkulttour.kt
  backend-spring-kotlin/src/test/kotlin/lunchbox/domain/resolvers/LunchResolverSuppenkulttourTest.kt
  backend-spring-kotlin/src/test/resources/menus/suppenkulttour/2022-06-27.html
Due: build_backend-spring-kotlin

chore: upgrade dependencies
  backend-spring-kotlin/build.gradle
  backend-spring-kotlin/gradle/dependencies.gradle
Due: build_backend-spring-kotlin

chore: Warnung entfernt
  backend-spring-kotlin/src/main/kotlin/lunchbox/util/extensions/OptionalExtension.kt
Due: build_backend-spring-kotlin

chore: improved font loading
  frontend-web-vue/index.html
  frontend-web-vue/public/fonts/Inter-latin+ext-300.woff2
  frontend-web-vue/public/fonts/Inter-latin+ext-400.woff2
  frontend-web-vue/public/fonts/chewy.woff2
  frontend-web-vue/public/fonts/inter-300+400.woff2
  frontend-web-vue/src/assets/style/fonts.scss
  frontend-web-vue/src/assets/style/index.scss
Due: build_frontend-web-vue

chore(frontend): upgrade dependencies
  frontend-web-vue/.eslintrc.js
  frontend-web-vue/package.json
  frontend-web-vue/tailwind.config.js
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore(frontend): fix vulnerability
  frontend-web-vue/package.json
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore: TODO ergänzt
  backend-spring-kotlin/README.md
Due: build_backend-spring-kotlin

chore: renovate updates dependencies
  renovate.json
Due: none

chore(deps): pin dependencies
  frontend-web-angularjs/package.json
  frontend-web-vue/package.json
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore(deps): update frontend patches
  frontend-web-vue/package.json
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore(backend-scala): Versionspflege
  backend-play-akka-scala/build.sbt
Due: none

chore: upgrade patches & formatting
  backend-spring-kotlin/build.gradle
  backend-spring-kotlin/gradle/dependencies.gradle
  backend-spring-kotlin/gradle/lint/detekt_config.yml
  backend-spring-kotlin/gradle/test.gradle
  backend-spring-kotlin/gradle/wrapper/gradle-wrapper.jar
  backend-spring-kotlin/gradle/wrapper/gradle-wrapper.properties
  backend-spring-kotlin/gradlew
  backend-spring-kotlin/gradlew.bat
  backend-spring-kotlin/src/main/kotlin/lunchbox/api/v1/LunchOfferApi.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/api/v2/LunchOfferApi.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/app/App.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/app/ConfigAsync.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/app/ConfigLunchResolver.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/app/ConfigProperties.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/app/ConfigScheduler.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/app/ConfigUndertow.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/models/LunchProvider.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverAokCafeteria.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverFeldkueche.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverGesundheitszentrum.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverKrauthof.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverPhoenixeum.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverSaltNPepper.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverSchweinestall.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverSuppenkulttour.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/feed/FeedController.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/util/date/HolidayUtil.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/util/pdf/PdfExtractor.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/util/pdf/PdfTextGroupStripper.kt
  backend-spring-kotlin/src/main/kotlin/lunchbox/util/string/StringParser.kt
  backend-spring-kotlin/src/test/kotlin/lunchbox/domain/resolvers/LunchResolverAokCafeteriaTest.kt
  backend-spring-kotlin/src/test/kotlin/lunchbox/domain/resolvers/LunchResolverFeldkuecheTest.kt
  backend-spring-kotlin/src/test/kotlin/lunchbox/domain/resolvers/LunchResolverGesundheitszentrumTest.kt
  backend-spring-kotlin/src/test/kotlin/lunchbox/domain/resolvers/LunchResolverKrauthofTest.kt
  backend-spring-kotlin/src/test/kotlin/lunchbox/domain/resolvers/LunchResolverPhoenixeumTest.kt
  backend-spring-kotlin/src/test/kotlin/lunchbox/domain/resolvers/LunchResolverSaltNPepperTest.kt
  backend-spring-kotlin/src/test/kotlin/lunchbox/domain/resolvers/LunchResolverSchweinestallTest.kt
  backend-spring-kotlin/src/test/kotlin/lunchbox/domain/resolvers/LunchResolverSuppenkulttourTest.kt
  backend-spring-kotlin/src/test/kotlin/lunchbox/util/facebook/FacebookGraphApiTest.kt
Due: build_backend-spring-kotlin

chore: ignore obsolete stuff
  renovate.json
Due: none

chore: Pipeline läuft auch im Branch
  .gitlab-ci.yml
  app/.gitlab-ci.yml
Due: none

fix(deps): update dependency io.swagger.core.v3:swagger-jaxrs2 to v2.2.2
  api/build.gradle
Due: none

chore: renovate improvements
  frontend-web-vue/.gitlab-ci.yml
  renovate.json
Due: build_frontend-web-vue

chore(deps): update patches
  api/build.gradle
  backend-spring-kotlin/Dockerfile
  backend-spring-kotlin/build.gradle
  backend-spring-kotlin/gradle/dependencies.gradle
  backend-spring-kotlin/gradle/test.gradle
  frontend-web-vue/package.json
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue, build_backend-spring-kotlin

chore: upgrade kotlin-logging
  backend-spring-kotlin/gradle/dependencies.gradle
Due: build_backend-spring-kotlin

Path conditions:
  build_frontend-web-vue: any of: frontend-web-vue/**/*
  build_backend-spring-kotlin: any of: backend-spring-kotlin/**/*
