Repository rrittwag/lunchbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend-web-vue, build_backend-spring-kotlin

.gitlab-ci.yml:

stages:
  - build
  - deploy

build_frontend-web-vue:
  stage: build
  trigger:
    include: frontend-web-vue/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - frontend-web-vue/**/*

build_backend-spring-kotlin:
  stage: build
  trigger:
    include: backend-spring-kotlin/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
      - backend-spring-kotlin/**/*

deploy:
  stage: deploy
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

fix(AOK): Weihnachtszeit beachtet
  backend-spring-kotlin/src/main/kotlin/lunchbox/domain/resolvers/LunchResolverAokCafeteria.kt
  backend-spring-kotlin/src/test/kotlin/lunchbox/domain/resolvers/LunchResolverAokCafeteriaTest.kt
  backend-spring-kotlin/src/test/resources/menus/aok_cafeteria/2021-12-20.html
Due: build_backend-spring-kotlin

chore(backend): upgrade dependencies
  backend-spring-kotlin/build.gradle
Due: build_backend-spring-kotlin

fix(frontend): Skripte müssen ausführbar sein
  frontend-web-vue/nginx/build.sh
Due: build_frontend-web-vue

chore(README): TODO ergänzt
  frontend-web-vue/README.md
Due: build_frontend-web-vue

chore(tests): es geht auch ohne Jest-Mock!
  frontend-web-vue/tests/unit/views/Layout.vue.spec.ts
Due: build_frontend-web-vue

chore: Umstellung von Jest auf frühe Vitest-Version
  frontend-web-vue/jest.config.js
  frontend-web-vue/package.json
  frontend-web-vue/tests/jest.vue-svg-loader.js
  frontend-web-vue/tests/unit/views/__snapshots__/About.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/__snapshots__/Layout.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/__snapshots__/Settings.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/LocationSelector.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/__snapshots__/LocationSelector.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/content/__snapshots__/ContentError.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/content/__snapshots__/ContentLoading.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/header/__snapshots__/Nav.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/__snapshots__/DaySelector.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/__snapshots__/Offer.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/__snapshots__/OfferBox.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/dayselector/__snapshots__/DaySelectorButton.vue.spec.ts.snap
  frontend-web-vue/tsconfig.json
  frontend-web-vue/vite.config.js
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore(Backend): Upgrade auf Java 17
  backend-spring-kotlin/.gitlab-ci.yml
  backend-spring-kotlin/Dockerfile
  backend-spring-kotlin/gradle/kotlin.gradle
Due: build_backend-spring-kotlin

chore: upgrading dependencies
  backend-spring-kotlin/build.gradle
  backend-spring-kotlin/gradle/dependencies.gradle
  backend-spring-kotlin/gradle/test.gradle
  backend-spring-kotlin/gradle/wrapper/gradle-wrapper.properties
Due: build_backend-spring-kotlin

chore(Unit-Test): 11 von 15 Test-Files ok
  frontend-web-vue/package.json
  frontend-web-vue/tests/unit/test-utils.ts
  frontend-web-vue/tests/unit/util/formatting.spec.ts
  frontend-web-vue/tests/unit/views/About.vue.spec.ts
  frontend-web-vue/tests/unit/views/Layout.vue.spec.ts
  frontend-web-vue/tests/unit/views/Settings.vue.spec.ts
  frontend-web-vue/tests/unit/views/__snapshots__/About.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/__snapshots__/Layout.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/__snapshots__/Settings.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/Content.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/Header.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/LocationSelector.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/__snapshots__/LocationSelector.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/content/ContentError.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/content/ContentLoading.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/content/__snapshots__/ContentError.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/content/__snapshots__/ContentLoading.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/header/Nav.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/header/NavLink.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/header/__snapshots__/Nav.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/DaySelector.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/Offer.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/OfferBox.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/__snapshots__/DaySelector.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/__snapshots__/Offer.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/__snapshots__/OfferBox.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/dayselector/DaySelectorButton.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/dayselector/__snapshots__/DaySelectorButton.vue.spec.ts.snap
  frontend-web-vue/tsconfig.json
  frontend-web-vue/vite.config.js
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

fix(frontend-angularjs): alte lodash-Version verursacht GitHub-Sicherheitswarnung
  frontend-web-angularjs/package.json
Due: none

chore: upgrade Spotless
  backend-spring-kotlin/build.gradle
Due: build_backend-spring-kotlin

chore: Tailwind-Konfiguration vereinfacht
  frontend-web-vue/tailwind.config.js
Due: build_frontend-web-vue

chore: Store-Attribute sind readonly
  frontend-web-vue/src/store/lunch.ts
  frontend-web-vue/src/views/offers/OfferBoxGroup.vue
Due: build_frontend-web-vue

chore: upgrade to vitest 0.1.0
  frontend-web-vue/package.json
  frontend-web-vue/tests/unit/views/layout/header/__snapshots__/Nav.vue.spec.ts.snap
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore: upgrade vitest
  frontend-web-vue/package.json
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore: upgrade vue-router-mock
  frontend-web-vue/package.json
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore: automatic Tailwind class sorting
  frontend-web-vue/package.json
  frontend-web-vue/src/views/About.vue
  frontend-web-vue/src/views/Layout.vue
  frontend-web-vue/src/views/Offers.vue
  frontend-web-vue/src/views/Settings.vue
  frontend-web-vue/src/views/layout/Content.vue
  frontend-web-vue/src/views/layout/Header.vue
  frontend-web-vue/src/views/layout/header/NavLink.vue
  frontend-web-vue/src/views/offers/Badge.vue
  frontend-web-vue/src/views/offers/DaySelector.vue
  frontend-web-vue/src/views/offers/Offer.vue
  frontend-web-vue/src/views/offers/OfferBox.vue
  frontend-web-vue/src/views/offers/OfferBoxGroup.vue
  frontend-web-vue/src/views/offers/dayselector/DaySelectorButton.vue
  frontend-web-vue/tests/unit/views/__snapshots__/About.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/__snapshots__/Layout.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/__snapshots__/Settings.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/__snapshots__/Content.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/__snapshots__/Header.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/header/__snapshots__/NavLink.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/__snapshots__/DaySelector.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/__snapshots__/Offer.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/__snapshots__/OfferBox.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/dayselector/__snapshots__/DaySelectorButton.vue.spec.ts.snap
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore: vue-router-mock aktualisiert
  frontend-web-vue/package.json
  frontend-web-vue/tests/unit/util/formatting.spec.ts
  frontend-web-vue/tests/unit/views/About.vue.spec.ts
  frontend-web-vue/tests/unit/views/Layout.vue.spec.ts
  frontend-web-vue/tests/unit/views/Settings.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/Content.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/Header.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/LocationSelector.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/__snapshots__/Content.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/__snapshots__/Header.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/content/ContentError.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/content/ContentLoading.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/header/Nav.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/header/NavLink.vue.spec.ts
  frontend-web-vue/tests/unit/views/layout/header/__snapshots__/NavLink.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/DaySelector.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/Offer.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/OfferBox.vue.spec.ts
  frontend-web-vue/tests/unit/views/offers/dayselector/DaySelectorButton.vue.spec.ts
  frontend-web-vue/tsconfig.json
  frontend-web-vue/vite.config.js
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

upgrade dependencies
  frontend-web-vue/package.json
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore: TODO ergänzt
  frontend-web-vue/README.md
Due: build_frontend-web-vue

chore: Vitest verträgt sich besser mit unplugin-icons
  frontend-web-vue/package.json
  frontend-web-vue/src/assets/icons/angle-left.svg
  frontend-web-vue/src/assets/icons/angle-right.svg
  frontend-web-vue/src/assets/icons/info.svg
  frontend-web-vue/src/assets/icons/offers.svg
  frontend-web-vue/src/assets/icons/settings.svg
  frontend-web-vue/src/types/svg.d.ts
  frontend-web-vue/src/views/layout/Header.vue
  frontend-web-vue/src/views/offers/dayselector/DaySelectorButton.vue
  frontend-web-vue/tests/unit/views/layout/__snapshots__/Content.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/__snapshots__/Header.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/layout/header/__snapshots__/NavLink.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/__snapshots__/DaySelector.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/dayselector/__snapshots__/DaySelectorButton.vue.spec.ts.snap
  frontend-web-vue/tsconfig.json
  frontend-web-vue/vite.config.js
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore: CI-Test-Report
  frontend-web-vue/.gitlab-ci.yml
Due: build_frontend-web-vue

chore: Prettier und Browserslist aufgeräumt
  frontend-web-vue/.browserslistrc
  frontend-web-vue/.prettierrc
  frontend-web-vue/src/store/theme.ts
  frontend-web-vue/src/views/About.vue
  frontend-web-vue/src/views/Settings.vue
  frontend-web-vue/src/views/offers/DaySelector.vue
  frontend-web-vue/src/views/offers/OfferBox.vue
  frontend-web-vue/tests/unit/test-utils.ts
  frontend-web-vue/tests/unit/views/__snapshots__/About.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/__snapshots__/Settings.vue.spec.ts.snap
Due: build_frontend-web-vue

chore: Linting
  frontend-web-vue/vite.config.js
Due: build_frontend-web-vue

chore: Lint-File gekürzt
  frontend-web-vue/.eslintrc.js
Due: build_frontend-web-vue

chore: upgrad dependencies
  frontend-web-vue/.eslintrc.js
  frontend-web-vue/package.json
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore(frontend): upgrading dependencies
  frontend-web-vue/package.json
  frontend-web-vue/tests/unit/views/offers/__snapshots__/DaySelector.vue.spec.ts.snap
  frontend-web-vue/tests/unit/views/offers/dayselector/__snapshots__/DaySelectorButton.vue.spec.ts.snap
  frontend-web-vue/yarn.lock
Due: build_frontend-web-vue

chore: added vulnerability scan
  backend-spring-kotlin/.gitlab-ci.yml
  frontend-web-vue/.gitlab-ci.yml
Due: build_frontend-web-vue, build_backend-spring-kotlin

chore: vulnerability scans vereinfacht
  backend-spring-kotlin/.gitlab-ci.yml
  frontend-web-vue/.gitlab-ci.yml
Due: build_frontend-web-vue, build_backend-spring-kotlin

chore: Fonts lokal bereitstellen
  frontend-web-vue/README.md
  frontend-web-vue/index.html
  frontend-web-vue/src/assets/fonts/Chewy.woff2
  frontend-web-vue/src/assets/fonts/Inter-300.woff2
  frontend-web-vue/src/assets/fonts/Inter-400.woff2
  frontend-web-vue/src/assets/style/fonts.scss
  frontend-web-vue/src/assets/style/index.scss
Due: build_frontend-web-vue

chore: Lighthouse-Optimierung
  frontend-web-vue/src/assets/style/fonts.scss
Due: build_frontend-web-vue

chore: font preloading & caching
  frontend-web-vue/index.html
  frontend-web-vue/src/assets/fonts/Inter-latin+ext-300.woff2
  frontend-web-vue/src/assets/fonts/Inter-latin+ext-400.woff2
  frontend-web-vue/src/assets/style/fonts.scss
  frontend-web-vue/vite.config.js
Due: build_frontend-web-vue

chore: font preloading
  frontend-web-vue/index.html
Due: build_frontend-web-vue

chore: simplified PWA config
  frontend-web-vue/vite.config.js
Due: build_frontend-web-vue

chore(backend): upgrade dependencies
  backend-spring-kotlin/build.gradle
  backend-spring-kotlin/gradle/dependencies.gradle
  backend-spring-kotlin/gradle/test.gradle
  backend-spring-kotlin/gradle/wrapper/gradle-wrapper.jar
  backend-spring-kotlin/gradle/wrapper/gradle-wrapper.properties
Due: build_backend-spring-kotlin

chore(frontend): Fonts im PWA cachen?
  frontend-web-vue/vite.config.js
Due: build_frontend-web-vue

chore: trivy findet yarn.lock nicht ?!
  frontend-web-vue/.gitlab-ci.yml
Due: build_frontend-web-vue

chore: warum knallt's?
  frontend-web-vue/.gitlab-ci.yml
Due: build_frontend-web-vue
